/*3 custom fonts(handwriting style)*/
@import url('http://fonts.googleapis.com/css?family=Delius|Walter+Turncoat|Permanent+Marker');
/*
/*fontawesome icon font*/
@import url('http://thecodeplayer.com/uploads/fonts/font-awesome-4.1.0/css/font-awesome.min.css');

.b{
    width: auto; 
    margin-left: auto;
    margin-right: auto;
}
.tg{
    margin-top:200px;
}