body{
    background-color:#eee;
  }
  
  p span{
    color:green;
  }
  
  p:nth-child(1) span{
    color:blue;
  }
  
  
  main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  
  #statistics{
    display: flex;
    flex-flow: row wrap;
  }
  
  #statistics div{
    margin: 0 10px;
    border: solid 1px black;
    padding: 20px;
  }
  .bottom-mid{
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;

  }