.tg  {
    border-collapse:collapse;
    border-spacing:0;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}
.tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}
.tg .tg-vswx{background-color:#fd6864;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-kndx{background-color:#34ff34;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-4f0n{background-color:#000000;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-58xp{background-color:#34ff34;border-color:#000000;text-align:center;vertical-align:top}
.tg .tg-l8k9{background-color:#f8ff00;color:#000000;border-color:inherit;text-align:center;vertical-align:top}
.tg .playerLifeTable{background-color:#3531ff;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
@media screen and (max-width: 767px)
 {
     .tg {
     width: auto !important;
    }
    .tg col 
    {width: auto !important;
    }
    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}